body{
    background-image: url('D:/prototype/dm_toolset/background/background.webp');
    overflow: hidden;
}

h1{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
}

h2{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h3{
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

p{
    color: white;
    font-family: sans-serif;
    line-height: 150%;
}

button{
    font-family: monospace;
    font-weight: bold;
}

.content{
    margin-top: -10px;
    width: auto;
}

.content_box{
    margin-top: -10px;
    border-radius: 25px;
    background: #222222cc;
    text-align: center;
}

.contenttitle_box{
    margin-top: -10px;
    border-radius: 25px;
    background: #222222dd;
    text-align: center;
}

.content_title{
    border-radius: 25px;
    background: #222222ff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.content_description{
    padding-bottom: 20px;
}

button{
    height:50px;
    width:50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.d100{
    background-color: transparent;
    background-image: url('D:/prototype/dm_toolset/icons/d100.svg');
    background-size: 100% 100%;
}

.d100:hover {
  transform: scale(0.9);
  transition-duration: 125ms;
}

.d10{
    background-color: transparent;
    background-image: url('D:/prototype/dm_toolset/icons/d10.svg');
    background-size: 100% 100%;
}

.d10:hover {
  transform: scale(0.9);
  transition-duration: 125ms;
}

.result{
    border-radius: 25px;
    margin-top: 20px;
    background: #222222ee;
    padding: 0.25px;
}