/* Style tab links */
.tab {
    background-color: #444;
    cursor: pointer;
    float: left;
    font-size: 17px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 25%;
}

.tab:hover{
    background-color: #fff;
    color: #444;
    transition: 0.3s;
}

.tabcontent{
    display: none;
    height: 100%;
}

.container{
    margin-top:75px;
    width: 100%;
}

.box{
    margin-top: 25px;

    text-align: center;

    width: 100%;
}

.d100{
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url('./icons/d100.svg');
    background-size: 100% 100%;
}

.d100:hover {
  transform: scale(0.9);
  transition-duration: 125ms;
}

.d10{
    background-color: transparent;
    background-image: url('./icons/d10.svg');
    background-size: 100% 100%;
}

.d10:hover {
  transform: scale(0.9);
  transition-duration: 125ms;
}